.card{
    margin-top: 142px;
    margin-left: 38%;
    display: grid;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.329);
    width: 234px;
    background-color: white;
    height: 350px;
    border-radius: 10px;
    box-shadow: 1px 5px 12px 4px #0000001e;
    
    img{
        width: 205px;
        height: 206px;
        cursor: pointer
        border-radius: 10px;
    }
    h4{
        width: 206px;
        text-align: center;
    }
    h5{
        text-align: center;
        width: 206px;
        font-size: 10px;
        width: 200px;
        color: #00000070;
    }

}
@media (max-width:400px) {
    .card{
        margin-top: 108px;
        margin-left: 10px;
        display: grid;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(0, 0, 0, 0.329);
        width: 371px;
        background-color: white;
        height: 609px;
        border-radius: 10px;
        box-shadow: 1px 5px 12px 4px #0000001e;
        img{
            width: 346px;
            height: 351px;
            margin-left: -1px;
        }
        h4{
            font-size: 25px;
            width: 337px;
            margin-left: 3px;
            text-align: center;
        }
        h5{
            margin-left: 4px;
            text-align: center;
            font-size: 17px;
            width: 334px;
            color: #00000070;
        }
    }
}
